body { 
  background: url(img/architectural-art-artistic-532563.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
}
table {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: sans-serif;
}

